name: Python

on:
  workflow_dispatch:
  pull_request:
  push:
  # Don't run this workflow when tags are pushed (it already runs for commits to master)
#    tags-ignore: ["v*"]
# TODO: tags-ignore didn't work as expected: the workflow didn't run at all

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        platform: [ubuntu-latest, macos-latest] # TODO: , windows-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip uv
          uv --version
          uv sync --extra dev
      - name: Run tests
        # -s is needed otherwise Invoke raises an error invoke.exceptions.ThreadException, then
        # OSError: pytest: reading from stdin while output is captured!  Consider using `-s`.
        run: uv run pytest -v -s
